@font-face {
    font-family: 'Lacheyard';
    src: url('LacheyardScript_PERSONAL_USE_ONLY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: linear-gradient(135deg, #5e2b97, #c2185b, #ffb6c1);
    color: white;
    text-align: center;
    min-height: 100vh;   /* Ye full screen height ke liye */
}

.container {
    min-height: 100vh;   /* Full screen cover kare */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertical center */
    align-items: center;      /* Horizontal center */
    padding: 20px;
}

h1 {
    font-family: 'Lacheyard', cursive;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
}

.button {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 30px;
    background: white;
    color: #5e2b97;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background: #ffb6c1;
    color: white;
}

.footer {
    margin-top: 60px;
    font-size: 14px;
    opacity: 0.8;
}
